* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    
}


nav {
    display:flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding-top: 20px;
    align-items: center;
}

.nav-order {
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap: 14px;
}


ul li a {
    text-decoration: none;
    color: rgb(87, 87, 87);
}

.baner-parent{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}
.reg-btn {
    background-color: rgb(37, 99, 235);
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: white;
    padding: 15px 50px;
    border-radius: 8px;
    cursor: pointer;

}

h1 {
     font-weight: bold;
     font-size: 70px;
     margin-top: 25px;
     padding-top: 100px;
     color: aliceblue;
        
     
}

.baner-content {
    padding-top: 30px;
    margin-bottom: 150px;
    font-size: 21px;
    color: aliceblue;
   
}

.baner-btn{
    margin-top: 110px;
    padding: 18px 60px;
    font-size: 20px;
    
}


.baner{

    max-width: 750px;
    text-align: center;
    margin: auto;
    
}

span{
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 55px ;
    padding-bottom: 45px;
}

.speaker-parent {
    max-width: 1300px;
    margin: auto;
}
.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    
}

.speaker-speciality {
    color: rgb(37, 99, 235);
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 12px;
    
}

.speaker-position {
    color: rgb(87, 87, 87);
    font-size: 13px;
    padding: 12px 0;
}

.speaker-card{
   padding: 20px ;
}

.speakers{
    border: 1px solid rgb(209, 205, 205);
    border-radius: 10px;
    overflow: hidden;
}

h4 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 120px ;
    
}
.price-header{
    color: rgb(87, 87, 87);
    font-size: 16px;
    text-align: center;
    padding: 11px 0;
    margin-bottom: 50px;
}

.price-parent{
    max-width: 1100px;
    margin: auto;
}

.price-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.price-card{
     border: 1px solid rgb(209, 205, 205);
     border-radius: 10px;
     padding: 25px;
}

.price-list{
     list-style-position: inside;
     font-size: 13px;
     color: rgb(51,51, 51);
}
.price-list li{
    padding-top: 15px;

}


.price-type{
    color: rgb(136, 136, 136);
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 7px;
}

.price-type-pro{
    color: rgb(147, 197, 253);
}

.price-amount{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 4px;
}

.price-amount-pro{
    color: rgb(255, 255, 255);
}

.price-card-pro{
    background-color: rgb(13, 27, 42);
}
.price-person{
    color: rgb(136, 136, 136);
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 15px;
}
.price-btn{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.pro-btn{
    padding: 10px 90px;
    font-weight: 500;
}
.standard-btn{
    border: 2px solid rgb(37, 99, 235);
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    color: rgb(37, 99, 235);
    padding: 10px 90px;
    border-radius: 8px;
    cursor: pointer;
}
.team-btn{
    border: 2px solid rgb(136, 136, 136);
    color: rgb(136, 136, 136);
}